@import url(/static/css/variaveis.css);

.messages {
  position: absolute;
}
#mensagens {
  margin-top: 16px;
  margin-bottom: 16px;
}

#mensagens p {
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.success {
  background-color: #1e3d2f;
  color: #5ce078;
  border-left: 4px solid #5ce078;
}

.error {
  background-color: #3d1e1e;
  color: #e05c5c;
  border-left: 4px solid #e05c5c;
}

.title-proj {
  color: var(--cor-roxo-claro);
  font-size: 64px;
  margin: 10px;
}

.title-index {
  color: var(--cor-roxo);
  text-shadow: 1px 1px 0 var(--cor-roxo-escuro);
  font-size: 42px;
  margin: 30px;
}

.upload-box {
  border: 2px dashed var(--cor-roxo);
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  color: var(--cor-branco-arroxeado);
  transition: 0.3s;
  background-color: var(--cor-offwhite-arroxeado);
}

.upload-box:hover {
  background-color: #22224a;
}

.upload-box.dragover {
  background-color: #2a2a55;
  border-color: var(--cor-roxo-claro);
}

.text-ou,
.label-text {
  font-size: 32px;
  color: var(--cor-roxo);
  text-shadow: 1px 1px 0 var(--cor-roxo-escuro);
}

.label-text{
  font-size: 42px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-text {
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  width: 600px;
  height: 200px;
  margin: 10px;
  resize: none;
  background-color: #1c1c3a;
  color: var(--cor-branco-arroxeado);
  border: 1px solid var(--cor-roxo-c);
}

.btn-submit {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 20px;
  color: var(--cor-branco-arroxeado);
  background-color: var(--cor-roxo-c);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--cor-roxo-claro);
}
body {
  background-color: var(--cor-roxo-escuro);
  color: var(--cor-branco-arroxeado);
  text-align: center;
  justify-content: center;
  font-family: var(--fonte-principal);
}