{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Case AutoU</title>
  </head>
  <body>
    {% if messages %}
    <div class="messages" id="mensagens">
      {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="container">
      <h1 class="title-proj">Case AutoU</h1>
      <h2 class="title-index">Faça o upload do Email</h2>

      <form
        action="{% url 'index' %}"
        class="form-index"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="upload-box" id="uploadBox">
          <input type="file" id="fileInput" name='file' hidden accept=".pdf,.txt"/>
          <p id="uploadText">Arraste um arquivo aqui<br>ou clique para selecionar</p>
        </div>

        <p class="text-ou">ou</p>
        <div class="text">
          <h5 class="label-text">Escreva o Email</h5>
          {{ form.text }}
        </div>

        <button class="btn-submit" type="submit">Classificar</button>
      </form>
    </div>
  </body>
</html>
<script>
  const uploadBox = document.getElementById("uploadBox");
  const fileInput = document.getElementById("fileInput");
  const uploadText = document.getElementById("uploadText");

  uploadBox.addEventListener("click", () => {
    fileInput.click();
  });

  uploadBox.addEventListener("dragover", (e) => {
    e.preventDefault();
    uploadBox.classList.add("dragover");
  });

  uploadBox.addEventListener("dragleave", () => {
    uploadBox.classList.remove("dragover");
  });

  uploadBox.addEventListener("drop", (e) => {
    e.preventDefault();
    uploadBox.classList.remove("dragover");

    const file = e.dataTransfer.files[0];
    if (!file) return;
    
    const dataTransfer = new DataTransfer();
    dataTransfer.items.add(file);
    fileInput.files = dataTransfer.files;

    handleFile(file);
  });

  fileInput.addEventListener("change", () => {
    if (fileInput.files.length > 0) {
      handleFile(fileInput.files[0]);
    }
  });

  function handleFile(file) {
    uploadText.innerHTML = `<strong>${file.name}</strong>`;
    console.log("Arquivo pronto para envio:", file);
  }
</script>

